@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai:100,200,300,regular,500,600,700);

/* Theming */
@import url('/css/themes/default.css');
@import url('/css/themes/dark.css');

/* Components */
@import url('/css/components/navBar.css');
@import url('/css/components/container.css');
@import url('/css/components/card.css');
@import url('/css/components/footer.css');

* {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  transition: all .3s;
}

html, body {
  margin: 0;
  padding: 0;
}