@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai:100,200,300,regular,500,600,700);

/* Components */
@import url('/css/components/navBar.css');
@import url('/css/components/footer.css');

* {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}