.dark {
  background: #2e2f2f !important;
  color: whitesmoke;
}

.dark * {
  color: whitesmoke
}

.dark #navBar, .dark #footer {
  background: #2e2f2f;
}

.dark #container .card {
  filter: drop-shadow(0 0 .75rem rgb(159, 159, 159))
}