.card {
  margin: 0 auto;
  width: 40%;
  background: whitesmoke;
  border-radius: 1rem;
}

.card * {
  color: #2e2f2f;
  margin: 0;
  padding: 0;
}

.card .cardHeader {
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

.card .cardBody {
  padding-top: .5rem;
  padding-bottom: 1.55rem;
}

.card h1 {
  font-size: 20px;
}

.card .cardBody form {
  padding: 0 1.5rem;
}

.card .cardBody form {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.card .cardBody form * {
  display: block;
}

.card .cardBody form label {
  margin-bottom: .25rem;
}

.card .cardBody form input {
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;

  padding: .5rem .25rem;
  margin: 0 auto;
  margin-bottom: 1rem;

  text-align: center;
  font-size: 15px;

  filter: drop-shadow(0 10px .75rem #2e2f2f);
  transition: all .3s;
}

.card .cardBody form input:focus {
  border: 2px solid #2e2f2f;
}

.card .cardBody form button[type="submit"] {
  display: block;

  margin: 0 auto;
  margin-top: 1.5rem;

  padding: .75rem;

  background: #fe6e6f;
  color: whitesmoke;
  border: none;
  border-radius: 1rem;

  transition: all .3s;
}

.card .cardBody form button[type="submit"]:hover {
  cursor: pointer;
  transform: scale(.85, .85);
  opacity: .6;
}

.card .cardBody table {
  width: 80%;
  margin: auto;
}

.card .cardBody table tr td {
  padding: .25rem 0;
}

.card .cardBody table tr td:nth-child(1) {
  width: 25%;
}

.card .cardBody table tr td:nth-child(2) {
  width: 65%;
}

.card .cardBody table tr td:hover {
  cursor: default;
}

.card .cardBody table tr td#pp-id {
  background: #2e2f2f;
}

.card .cardBody table tr td#pp-id > p {
  display: none;
}

.card .cardBody table tr td#pp-id:hover {
  background: transparent;
}

.card .cardBody table tr td#pp-id:hover > p {
  display: block;
}

.card .cardBody table tr td#pp-id::after {
  content: '';
}

.card .cardBody img {
  margin: 1rem 0;
  width: 60%;
  height: auto;
}